# never add files wo extension
*
!/**/
!*.*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# debug information files
*.dwo

# possible io files
*.vtu
*.png
*.txt
*.csv
